.performance-container {
    position: relative;
    background-color: white;
    min-height: 30vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 60px;
}

.performance-container p {
    color: red;
    margin-right: auto;
    margin-left: auto;
}

.performance-subtitle {
    color: black;
    font-size: 24px;
}

.performance-title {
    color: black;
    font-size: 36px;
}

.btn-performance {
    position: absolute;
    top: 15px;
    right: 30px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding: 1px 10px;
    color: rgb(100, 100, 100);
}

.btn-addition {
    position: relative;
    background-color: white;
    color: rgb(135, 135, 135);
    min-height: 8vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}