.main-contents {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.main-contents h2 {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 25px;
}