.main-contents {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    flex: 1;
    /*【超重要】サイドバー以外の残りの横幅をいっぱいに広げる！ */
    padding: 30px;
    /* 端っこに文字がくっつかないように少し余白を入れると綺麗！ */
}

.main-contents h2 {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-bottom: 25px;
}

.performance-container {
    position: relative;
    background-color: white;
    min-height: 40vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.performance-container p {
    color: #B1001D;
}

.btn-performance {
    position: absolute;
    top: 15px;
    right: 30px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding: 1px 10px;
    color: rgb(100, 100, 100);
}