.reservation-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
}

.reservation-create-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 60%;
    height: 80vh;
    margin-right: auto;
    margin-left: auto;
    color: #2B0C0E;
    padding: 50px 60px;
}