.restore-logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    margin-bottom: 15%;
}

.restore-text {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #c41a30;
}

.restore-actions {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
    gap: 20px;
}

.btn-restore-confirm {
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

.btn-restore-confirm.restore-btn {
    color: #2B0C0E;
    border: solid 1px #2B0C0E;
}

.btn-restore-confirm.cancel-btn {
    background-color: #2B0C0E;
    color: white;
}