/* body {
    margin: 0;
    padding: 0;
} */

.lr-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.login-form {
    padding-top: 10vh;
}

.form-root {
    background-color: #f2f2f2;
    width: 35%;
    height: 80vh;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.tp-group {
    color: #2B0C0E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.form-root form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.password-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    padding-bottom: 10px;
}

.password-group a {
    color: #2B0C0E;
}

.reset-password-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    margin-bottom: 15px;
}

.login-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25%;
}

.error-container {
    height: 8vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.error-text {
    color: #c41a30;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.forgot-error-container {
    height: 15vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #2B0C0E;
    padding: 4px;
    width: 300px;
    background-color: #fff;
    color: #2B0C0E;
    box-sizing: border-box;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(43, 12, 14, 0.45);
}

input[type="password"] {
    width: 100%;
}

input[type="submit"] {
    border: 1px solid #ffffff;
    background-color: #2B0C0E;
    color: #fff;
    padding: 5px 10%;
    /* margin-top: 10%; */
    border-radius: 5px;
    cursor: pointer;
}

.register-top-link {
    color: #2B0C0E;
    padding-top: 10px;
}